<div class="full-height d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <div class="mb-1">
                <img class="logo-small" src="https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_grey.svg" alt="Logo: Uni Mainz"><br>
                <img class="logo-small" src="/open-id-connect.png" alt="Logo: OpenIdConnect"><br>
            </div>

            <p>
                <span class="fs-4">🍪</span><br />
                Ihr Browser hat Cookies abgelehnt oder verworfen, die für die Anmeldung auf dieser Webseite notwendig sind.<br />
                Um sich erfolgreich anmelden zu können, aktivieren Sie bitte Cookies in Ihren Browsereinstellungen.<br />
                Es könnte auch hilfreich sein, Adblocker oder Tracking Protection zu überprüfen, da diese manchmal die Annahme von Cookies verhindern.
            </p>
        </div>
    </div>
</div>

