@model HomeController.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="full-height d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <div class="mb-1">
                <img class="logo-small" src="https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_grey.svg" alt="Logo: Uni Mainz"><br>
                <img class="logo-small" src="/open-id-connect.png" alt="Logo: OpenIdConnect"><br>
            </div>

            <p>
                <span class="fs-4">😩</span>
                @if(Model.ShowRequestId)
                {
                    <span>RequestId: @Model.RequestId</span>
                }
            </p>
        </div>
    </div>
</div>