@using OpenIddict.Abstractions
@using System.Text
@using System.Security.Cryptography

<div class="input-group">
    <input type="text" id="client-name" class="form-control" value="@ClientSecret" disabled />
    <button class="btn btn-outline-secondary" @onclick="() => RandomSecret()"><i class="fa fa-fw fa-dice"></i></button>
</div>

@code {
    [Parameter]
    public required OpenIddictApplicationDescriptor Application { get; set; }

    private string? ClientSecret { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ClientSecret = Application.ClientSecret == null ? null : new string('•', 24);
    }

    private void RandomSecret()
    {
        ClientSecret = GenerateRandomString(24);
        Application.ClientSecret = ClientSecret;
    }

    private string GenerateRandomString(int length)
    {
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_+*()$§!".AsSpan();
        var secret = RandomNumberGenerator.GetItems(chars, 24);

        return new string(secret);
    }
}