@page "/"
@page "/clients"

@using JGUZDV.OIDC.ProtocolServer.Model
@using OpenIddict.Abstractions
@using OpenIddict.Core
@using OpenIddict.EntityFrameworkCore.Models

@inject IOpenIddictApplicationManager _applicationManager

<table class="table table-striped table-hover mw-100">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Redirect URIs</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in _applications)
        {
            <tr>
                <td>@app.ClientId</td>
                <td>@app.DisplayName</td>
                <td>
                    <ul>
                        @foreach (var uri in app.RedirectUris.Take(3))
                        {
                            <li class="text-truncate">@uri</li>
                        }
                        @if (app.RedirectUris.Count() > 3)
                        {
                            <li class="text-truncate">&hellip;</li>
                        }
                    </ul>
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-primary" href="/clients/@app.ClientId"><i class="fa fa-fw fa-pencil"></i></a>
                    <a class="btn btn-danger"><i class="fa fa-fw fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<OpenIddictApplicationDescriptor> _applications = [];


    protected override async Task OnParametersSetAsync()
    {
        var applications = _applicationManager.ListAsync();
        await foreach (var application in applications)
        {
            var appDescriptor = new OpenIddictApplicationDescriptor();
            await _applicationManager.PopulateAsync(appDescriptor, application);

            _applications.Add(appDescriptor);
        }
    }
}