@inherits LayoutComponentBase

@inject ConfigAppContext ConfigAppContext
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="flex-fill">@ConfigAppContext.ConnectionString</div>
            <button @onclick="() => Disconnect()"><i class="fa fa-fw fa-plug"></i> Disconnect</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Disconnect()
    {
        ConfigAppContext.Disconnect();
        NavigationManager.NavigateTo("/");
    }
}