@using JGUZDV.OIDC.ProtocolServer.Model
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase

@inject ApplicationDbContext DbContext
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="flex-fill">
                <NavLink href="/">
                    Clients
                </NavLink>
                <NavLink href="/scopes">
                    Scopes
                </NavLink>
            </div>
            <div>
                <i class="fa fa-fw fa-plug"></i> @_connectionData
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? _connectionData;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var csBuilder = new SqlConnectionStringBuilder(DbContext.Database.GetDbConnection().ConnectionString);
        _connectionData = $"{csBuilder.InitialCatalog} @ {csBuilder.DataSource}";
    }
}