@page

<div class="full-height d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <div class="mb-1">
                <img class="logo-small" src="https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_grey.svg" alt="Logo: Uni Mainz"><br>
                <img class="logo-small" src="/open-id-connect.png" alt="Logo: OpenIdConnect"><br>
            </div>

            <div class="small text-muted">
                <span>OpenIdConnect <a href="/.well-known/openid-configuration">Discovery Document</a> (metadata, endpoints, JWKS, etc.)</span><br>
                <span>Powered by <a href="https://github.com/openiddict/openiddict-core">OpenIddict</a> (Version 4.6)</span><br>
            </div>
        </div>
    </div>
</div>

